<%= form_with(model: @post, local: true, html: { multipart: true }) do |f| %>
  <div class="mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :video, "Upload a video" %>
    <%= f.file_field :video, accept: "video/*", class: "form-control" %>
  </div>

  <%= f.submit "Create Post", class: "btn btn-primary" %>
<% end %>
